* {
    padding: 0;
    margin: 0;
}
body {
    background: #f5f5f5;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.search-bar {
    width: 120px;
    height: 40px;
    font-size: larger;
    padding: 7px;
    border-radius: 5px 0% 0% 5px;
    border: none;
    outline: none;
    box-shadow: 2px 1px 5px 0px #808080a1;
    transition: width 300ms;
}

.search-bar:hover,
.search-bar:focus{
    width: 80%;
    padding-right: 20px;
}
.search-bar:hover::placeholder{
    color: transparent;
    transition: color 0.4s ease-in-out;
}

.button {
    padding: 16px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: #82B940;
    color: white;
    font-size: larger;
    font-weight: bold;
}